@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=PT+Sans&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:  #34495E ;
}

/* heading and logo */

h1, h2 {
    
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #338FFF;
    font-weight: 400px;
}
#logo {
    float: left;
    font-size: 350%;
    margin-left: 20px;
   
}

/* navigation links */

#menu { 
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #338FFF;
}
.active {
    border-bottom: 1px solid #338FFF;
}
/* hero image and cover text */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pilgrim-250370.jpg') no-repeat 60% 40%;  
}
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    /* animation zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
position: relative;
}

#cover-text, #cover-text h2 {
    color:#f9fafb;

}
#cover-text, #cover-text h3 {
    color:#f9fafb;

}

/* creates the leve of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 200%;
    font-family: 'Amatic SC', cursive; 
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 30px;

    background-color: rgba(241, 196, 15, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}
/* Routes section */
#travel-head {
    font-size: 260%;
    font-weight: 300px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;

}
#routes {
    height: 600px;
    background-color: #f9fafb;
    width: 100%;
    
    
}
#left-about{
    padding-top :30px;
    width: 50%;
    text-align: left;
    float: left;
    background-color: #f9fafb;
    letter-spacing: 2px;
    line-height: 4px;
    margin-left: 30px;

}
#via-photo {
    background: url('../images/vialaplata1.jpg') no-repeat;
    height: 400px;
    width: 600px;
    float: right;
   
}
#camino-shell {
    background: url('../images/vialaplata1.jpg') no-repeat;
    height: 400px;
    width: 600px;
    float: left;
}

    

#right-about {
    height: 600px;
    padding-top :30px;
    padding-left: 950px;
    text-align: right;
    float: right;
    letter-spacing: 4px;
    line-height: 6px;
    background-color: #FFC300;
    font-size: large;
    margin-right: 0;
}
.right-line {
    border-top: 10px dotted #338FFF;
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: right;
    padding-bottom: 20px;

}
#center-about{
    padding-top :30px;
    width: 33%;
    margin: 0 auto;
    background-color: #34495E;
}
hr {
    border-top: 10px dotted #FFC300;
    width: 50%;
    margin: 5px 0;
}
.left-about-heading {
    width: 100%;
    text-align: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
    
}
.left-about-heading h2 {
    font-size: 250%;
    text-align: left;
    margin-bottom: 10px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 60px;
}
.right-about-heading h2 {
    font-size: 250%;
    text-align: left;
    margin-bottom: 10px;
}



nav ul {
    list-style: none;
    background-color: #FFC300;
    text-align: center;
    padding: 0;
    margin: 0;

}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%

}

nav a {
    text-decoration: none;
    color:#338FFF;
    display: block;
}



h1 {
    text-align: center;
    color: #338FFF;
    text-decoration-line: dashed;
}
section h2 {
    text-align: center;
    color:#338FFF
}

p {
    text-align: center;
    color: #338FFF;
}

h3 {
    text-align: left;
    color: #338FFF;
}

.card a {

    text-align: center;
}
.concha {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 20%;
}

img {
    width: 250px;
    height: 100%;
    display:block;
    margin-left:auto;
    margin-right: auto;
  
}



#via-la-plata {
    background-color: #f9fafb;
}