body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    background: #ffff;

}

nav ul {
    list-style: none;
    background-color: #FFC300;
    text-align: center;
    padding: 0;
    margin: 0;

}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%

}

nav a {
    text-decoration: none;
    color:#338FFF;
    display: block;
}

nav a:hover {
    background-color:#338FFF;
    color:#FFC300;
}

h1 {
    text-align: center;
    color: #338FFF;
    text-decoration-line: dashed;
}
section h2 {
    text-align: center;
    color:#338FFF
}

p {
    text-align: center;
    color: #338FFF;
}

h3 {
    text-align: left;
    color: #338FFF;
}

.card a {

    text-align: center;
}
.concha {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 20%;
}

img {
    width: 250px;
    height: 100%;
    display:block;
    margin-left:auto;
    margin-right: auto;
  
}



#via-la-plata {
    background-color: #f9fafb;
}